{extend name="public/base"/}

{block name="body"}


<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                 <div class="alert alert-info ">
                    <p>集成代码包有如下功能</p>
                    <p>--授权验证（加密通信）</p>
                     <p>--安装包下载与自动解压更新（包括代码更新和数据库自动更新）</p>
                     <p>--版本更新检查</p>
                     <p>--其他小功能</p>
                     <p>集成使用视频</p>
                 </div>
                <div class="alert alert-block alert-danger ">
                    购买后开放下载，本客户端即已集成！！！ 联系QQ:304455977(请备注:智云产品授权与更新系统)

                </div>
            </div>
        </section>
    </div>
</div>

{/block}
